<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Nazwa niezaładowana</title>
    {% endif %}
</head>

<body>
    <main>
        <header>
            <div>That Page: <a href="/index">Home</a> <a href="/login">Sign in</a></div>
            <hr>
        </header>
        {% block content %}{% endblock %}
    </main>
</body>

</html>